<%include header %>
<html>
<head><title>Armas</title></head>
<body>
<div id="inicio" class="logo-menu">
                <div class="container-fluid navbar-inverse bg-primary fixed-top">
                    <div class="row middle-xs between-xs">
                        <nav class="menu col-xs-12 col-sm-8 center-xs end-sm">
                        <a href = "/index"> Zombies </a>
                        <a href = "/clases"> Clases</a>
                        <a href = "/armas"> Armas</a>
                        <a href = "/victimas"> Victimas</a>
                        </nav>
                    </div>       
                </div>
            </div>
<h1>Armas que cada zombie puede usar</h1>
<html>
 
<h1>Armas</h1>
<table>
<tr>
  <td><strong>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤZombie</strong></td>
  <td><strong>ㅤㅤㅤㅤㅤㅤTipo de Zombie</strong></td>
  <td><strong>ㅤㅤㅤㅤㅤㅤArma</strong></td>  
</tr>
 
<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ Los Zombies Italianos</td>
  <td>ㅤㅤㅤㅤㅤㅤCarnivoro</td>
  <td>ㅤㅤㅤㅤㅤㅤMoto Sierra</td>
</tr>
 
<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤLos Tar Man</td>
  <td>ㅤㅤㅤㅤㅤㅤMutante</td>
  <td>ㅤㅤㅤㅤㅤㅤBat</td>
</tr>
 
<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤLa Chica-Robot</td>
  <td>ㅤㅤㅤㅤㅤㅤRobot</td>
  <td>ㅤㅤㅤㅤㅤㅤCuerno de chivo</td>
</tr>

<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤLos Creeps</td>
  <td>ㅤㅤㅤㅤㅤㅤReptileano</td>
  <td>ㅤㅤㅤㅤㅤㅤFilero</td>
</tr>

<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤLos Zombies Rabiosos</td>
  <td>ㅤㅤㅤㅤㅤㅤMamifero</td>
  <td>ㅤㅤㅤㅤㅤㅤCuchillo</td>
</tr>

<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤLos Zombies Rampantes</td>
  <td>ㅤㅤㅤㅤㅤㅤElectrico</td>
  <td>ㅤㅤㅤㅤㅤㅤVara electrica</td>
</tr>

<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤEl Regresado</td>
  <td>ㅤㅤㅤㅤㅤㅤOviparo</td>
  <td>ㅤㅤㅤㅤㅤㅤR-45</td>
</tr> 

</table>
<br>

 
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>