<%include header %>
<div id="inicio" class="logo-menu">
                <div class="container-fluid navbar-inverse bg-primary fixed-top">
                    <div class="row middle-xs between-xs">
                        <nav class="menu col-xs-12 col-sm-8 center-xs end-sm">
                            <a href = "/index"> Zombies </a>
                            <a href = "/clases"> Clases</a>
                            <a href = "/armas"> Armas</a>
                            <a href = "/victimas"> Victimas</a>
                        </nav>
                    </div>       
                </div>
            </div>
<h1>Clases de Zombies </h1>
<br>
<br>
<div class="container">
<div class="row clases" id="section1">
        <div class="col" ><a class="links" href="/recursos/italianos.jpg">1. Los Zombies Italianos</a></div>      
    </div>
    <br>
<div class="row clases" id="section2">
        <div class="col"><a class="link" href="/recursos/tarman.png">2. Los Tar Man</a></div>
    </div>
    <br>
<div class="row clases" id="section3">
        <div class="col"><a class="links" href="/recursos/chicarobot.png">3. La Chica-Robot</a></div>
    </div>
    <br>
<div class="row clases" id="section4">
        <div class="col"><a class="links" href="/recursos/creeps.png">4. Los Creeps</a></div>
    </div>
    <br>
<div class="row clases" id="section4">
    <div class="col"><a class="links" href="/recursos/rabiosos.jpg">5. Los Zombies Rabiosos</a></div>
    </div>
    <br>
<div class="row clases" id="section4">
    <div class="col"><a class="links" href="/recursos/rampantes.jpg">6. Los Zombies Rampantes</a></div>
    </div>
    <br>
<div class="row clases" id="section4">
    <div class="col"><a class="links" href="/recursos/rampantes.jpg">7. El Regresado</a></div>
</div>
    <br>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>