<%include header %>
<div id="inicio" class="logo-menu">
                <div class="container-fluid navbar-inverse bg-primary fixed-top">
                    <div class="row middle-xs between-xs">
                        <nav class="menu col-xs-12 col-sm-8 center-xs end-sm">
                            <a href = "/index"> Zombies </a>
                            <a href = "/clases"> Clases</a>
                            <a href = "/armas"> Armas</a>
                            <a href = "/victimas"> Victimas</a>
                        </nav>
                    </div>       
                </div>
            </div>
<h1>Zombies </h1>
<h2>Un zombi es la representación de un cadáver que de una u otra manera puede resucitar o volver a la vida. Muchas de las diferentes relaciones que se muestran con uno de ellos es una figura legendaria propia del culto vudú. Se trata de un muerto resucitado por medios mágicos por un hechicero para convertirlo en su esclavo. De acuerdo con la creencia, un houngan, bokor o hechicero vudú, sería capaz, mediante un ritual, de resucitar a un muerto, que quedaría, sin embargo, sometido en adelante a la voluntad de la persona que le devuelve la vida. También, según una creencia popular, se dice que una persona que es mordida por un zombi, se convierte en uno de ellos.

</h2>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>