<%include header %>
<div id="inicio" class="logo-menu">
                <div class="container-fluid navbar-inverse bg-primary fixed-top">
                    <div class="row middle-xs between-xs">
                        <nav class="menu col-xs-12 col-sm-8 center-xs end-sm">
                            <a href = "/index"> Zombies </a>
                            <a href = "/clases"> Clases</a>
                            <a href = "/armas"> Armas</a>
                            <a href = "/victimas"> Victimas</a>
                        </nav>
                    </div>       
                </div>
            </div>
<h1>Victimas Potenciales</h1>
<form class="pure-form">
<br>
<br>
<table>
<tr>
  <td><strong>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤNombre</strong></td>
  <td><strong>ㅤㅤㅤㅤㅤㅤDirección</strong></td>
  <td><strong>ㅤㅤㅤㅤㅤㅤTélefono</strong></td>
  <td><strong>ㅤㅤㅤㅤㅤㅤInstagramㅤㅤㅤ</strong></td>     
</tr>
 
<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤVianney</td>
  <td>ㅤㅤㅤㅤㅤㅤEduardo Arrieta 117</td>
  <td>ㅤㅤㅤㅤㅤㅤ6182692929</td>
  <td>ㅤㅤㅤㅤㅤㅤVianney Moreno</td>
</tr>
 
<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤBernardo</td>
  <td>ㅤㅤㅤㅤㅤㅤPriv Lomas 222</td>
  <td>ㅤㅤㅤㅤㅤㅤ6182227887</td>
  <td>ㅤㅤㅤ      Bernardo Campos</td>
</tr>
 
<tr>
  <td>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤSebastián</td>
  <td>ㅤㅤㅤㅤㅤㅤIV Centenario</td>
  <td>ㅤㅤㅤㅤㅤㅤ6181345897</td>
  <td>ㅤㅤ      ㅤSebastián R</td>
</tr>

</table>
<fieldset>
<br>
<br>
<br>
</fieldset>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/main.js"></script>

<%include footer %>